body{
  background: white
}

.tooth-chart{
  width:450px;
}

#Spots{
  polygon, path{
    -webkit-transition:fill .25s;
    transition:fill .25s;
  }
  polygon:hover, polygon:active, path:hover, path:active{
    fill:#dddddd !important;
  }
}